datasets/
artifacts/
logs/*.log
*.plan
*.bin
*.param
*.engine
*.pt
*.pth
*.onnx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
env/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store

